# Ignore everything
*

# Keep this file
!.gitignore

##############################
# Unity Required
##############################

# Packages
!Packages/
!Packages/**

# Project Settings
!ProjectSettings/
!ProjectSettings/**

# README
!README.md
!Readme
!Readme.md

##############################
# Assets
##############################

# Allow Assets folder
!Assets/
Assets/*

# Scripts
!Assets/Scripts/
!Assets/Scripts/**
!Assets/Scripts.meta

# Prefabs
!Assets/Prefabs/
!Assets/Prefabs/**
!Assets/Prefabs.meta

# Keep Assets meta
!Assets.meta

##############################
# Ignore Unity generated folders
##############################

Library/
Logs/
Obj/
Temp/
Build/
Builds/
UserSettings/
MemoryCaptures/

##############################
# Ignore everything else inside Assets
##############################

Assets/Scenes/
Assets/Icons/
Assets/Materials/
Assets/Settings/
Assets/Sounds/
Assets/Textures/
Assets/TextMesh Pro/
Assets/InputSystem_Actions*